# Configurações do Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=ezcicpxn
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=

# Configurações de Revalidação (ISR)
REVALIDATION_TOKEN=your_revalidation_secret_here

# Configurações da Vercel
NEXT_PUBLIC_VERCEL_URL=https://agencia-margaretas-2eyss24n1-agencia-margaretas-projects.vercel.app 